<!DOCTYPE html>
<html>
<head th:replace="layouts :: header">
  <title>Customer Invoice</title>
</head>
<body>
	<nav th:replace="layouts :: navbarCustomer"></nav>
	
	<div sec:authorize="!isAuthenticated()">
		You are not authenticated<br>
		<a href="/login">Login</a>	
	</div>
	
	<div sec:authorize="isAuthenticated()">
	<div>
		<h4>Customer Invoice</h4>
		<br>
		<div sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/business-dashboard/customers/new}" class="btn-primary btn-sm mb-3" >Add new Customer</a>
		</div>
		<br>
		<table class="table table-bordered table-striped">
		
		</table>
	</div>
	</div>
</body>