<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Business Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarProduct"></nav>
	<div sec:authorize="hasAnyRole('MANAGER','TEAMMEMBER','ADMIN')">



		<br>
		<div class="container">

			<H3>Edit Product</H3>
			<br>
			<br>
			<form th:action="@{/antenna-dashboard/baseantennas/save}" th:object="${productRequest}" method="POST">

				<!--  This will be used to bind to the task that was clicked on (USED FOR UPDATES)-->
				<input type="hidden" th:field="${productRequest.dateCreated}" />
				<input type="hidden" th:field="${productRequest.productId}" />				
			
				<b>Date created:</b>
				<div class="form-group row" th:text="${productRequest.dateCreated}"></div>

				
				<div class="form-group row">
					<input type="text" placeholder="Product Name"
						th:field="${productRequest.name}">
				</div>

				<div class="form-group row">
					<input type="text" placeholder="Description"
						th:field="${productRequest.description}"> 
				</div>
				

				
				

				<div class="form-group row">
					<button class="btn btn-info col-2" type="submit">Save Task</button>
				</div>

			</form>
		</div>
	</div>

</body>

</html>